*{
  margin: 0;
  padding: 0;
}
#navbar{
  text-transform: uppercase;
}
.nav-item{
  text-decoration: none;
  color: black;
  font-size: 25px;
}
#header{
  min-height: 100vh;
  background-image: url("../land.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  padding: 250px 0 200px;
  flex-direction: column;
  font-family: 'arial'
}
.main{
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;
}
.main h1{
  font-size: 64px;
  color: white;
  padding-bottom: 50px;
}
.main h3{
  font-size: 48px;
  color: yellow;
  padding-bottom: 30px;
  font-weight: 400;
}
