*{
  margin: 0;
  padding: 0;
}
#header{
  height: 100vh;
  background-image: url("../land.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: 'arial'
}
header{
  margin-top:20px;
  display: flex;
  justify-content: space-around;
}
header nav{
  display: flex;
  flex: 1 1 600px;
  justify-content: flex-end;
  margin-right: 40px;
  align-items: center;
}
header nav a{
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}
